{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" >
    <meta name="description"content="{% block description %}{% endblock %}">
    <title>{%  block title %}{% endblock %}</title>
</head>
<body>
<div class="container main_container" style="margin:0px;padding:0px;max-width:1200px;">
{% include 'header.html' %}
{% include 'nav.html' %}
{% block content %}
{% endblock %}
</div>
{% include 'footer.html' %}
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<script src="{% static 'js/popper.min.js' %}" ></script>

</body>
</html>

