<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br/>
    <input type="text" name="first_name" placeholder="Enter Your Firstname"><br/>
    <input type="text" name="last_name" placeholder="Enter Your Lastname"><br/>
    <input type="email" name="email" placeholder="Enter Your Email"><br/>
    <input type="password" name="password1" placeholder="Enter Your Password"><br/>
    <input type="password" name="password2" placeholder="Confirm Your Password"><br/>
    <input type="submit" name="submit" value="Submit"><br/>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>